<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header with-link-on-top">Nuovo obiettivo specifico</h2>
    <%= render 'form', specific_objective: @specific_objective %>
  </div>
</div>
